<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <!-- style.css file path in the line below. -->
<!--    <link rel="stylesheet" href="/css/style.css" />-->
    <!-- -------------------------------------- -->
    <title>Simple File Uploader</title>
  </head>
  <body>
    <main class="admin">
        <form action="/f/upload" enctype="multipart/form-data" method="POST">
            <input type="file" class="admin__input" id="myFile" name="myFile" />
            <input class="admin__submit" type="submit" />
        </form>
    </main>
  </body>
</html>
